{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Motto 影城-常見Q&A</title>
    <link rel="shortcut icon" href="{% static 'img/ico/icon.png' %}">

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'css/business-casual.css' %}" rel="stylesheet">

     <link href="{% static 'css/news.css' %}" rel="stylesheet">
    
    <!-- EDAEDAEDAEDAEDAEDAEDAEDAEDAEDAEDAEDAEDAEDAEDAEDAEDA -->
    <link href="{% static 'css/inside.css' %}" rel="stylesheet">
    <!-- EDAEDAEDAEDAEDAEDAEDAEDAEDAEDAEDAEDAEDAEDAEDAEDAEDA -->
    
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body style="font-family:微軟正黑體;">


     <nav   role="navigation" class="navbar  " style="background-color:rgba(1,1, 1, 1);">
        <div class="container">

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse"   >
                 <ul class="nav navbar-nav" >
                    <li >
                       <div class="dropdown">
                                 <a href="/index/"><button class="dropbtn" style="color: black;">MOTTO</button></a>
                            </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <!-- Navigation -->
    <nav   role="navigation" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
                <a class="navbar-brand" href="/index/">Motto</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"   >
                <ul class="nav navbar-nav" >
                  
                    <li >
                       <div class="dropdown">
                                 <a href="/index/"><button class="dropbtn" >MOTTO</button></a>
                            </div>
                    </li>
                     
                    <li>
                    <div class="dropdown">
                         <button class="dropbtn" >電影介紹</button>
                          <div class="dropdown-content">
                                 <a href="/movie/online/">現正上映電影</a>
                                 <a href="/movie/comingsoon/">即將上映電影</a>
                                </div> 
                         </div>
                    </li>

                    <li>
                    <div class="dropdown">
                                 <button class="dropbtn">排行榜</button>
                             <div class="dropdown-content">
                                <a href="/movie/hotweek/">本周最熱</a>
                                <a href="/movie/hotmonth/">本月最熱<img src="{% static 'img/ico/fire.ico' %}"></a>
                             </div>
                            </div>
                       
                    </li>
                     <li>
                     <div class="dropdown">
                                 <button class="dropbtn">好康優惠</button>
                             <div class="dropdown-content">
                                <a href="/news/">最新訊息</a>
                                <a href="/news/foodsets/">超值套票</a>
                                <a href="/news/card/">卡友優惠</a>
                                <a href="/news/group/"> 購買團票</a>
                             </div>
                            </div>
                       
                    </li>
                     <li>
                     <div class="dropdown">
                                 <button class="dropbtn">影城介紹</button>
                             <div class="dropdown-content">
                                <a href="/intro/about/">關於我們</a>
                                <a href="/intro/contact/">意見信箱</a>
                                <a href="/intro/device/">設備介紹</a>
                                <a href="/intro/qanda/">常見Q&A</a>
                             </div>
                            </div>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->

        </div>
        <!-- /.container -->
    </nav>

     


 
    <!--class="intro-text text-center" 置中用 -->
<div class="container" style="margin-top: 4%;background-color:rgba(0,0,0,0.5);  border-radius:15px;  padding: 8%; ">
        <div class="row" >
          
                <div class="col-lg-12 " >
          <h1 id="textStyle1">常見Q&A</h1>
                    <br>

  <div class="panel-group" id="accordion">


    <div class="panel panel-default">
      <div class="panel-heading" >
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse1"  style="text-decoration:none;">⊙ 網路上的場次時間是否準確?</a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse in">
        <div class="panel-body" > 網路上所有場次與時間僅供參考，實際時間請以電影院告示板公告為主。<br></div>
      </div>
    </div>


    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse2" style="text-decoration:none;">⊙ 是否可以退票?</a>
        </h4>
      </div>
      <div id="collapse2" class="panel-collapse collapse">
        <div class="panel-body"> 我們可以體諒，每個人都有些意外事故會發生，但我們不接受退票，<br>因為我們不是慈善事業，有事發生是你家的事，我們也是要混一口飯吃，<br>
        要我們體諒你，先體諒我們吧!?辦不到，就互相傷害吧!<br></div>
      </div>
    </div>
    
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse3" style="text-decoration:none;">⊙ 網路購票後，我該怎麼領票?</a>
        </h4>
      </div>
      <div id="collapse3" class="panel-collapse collapse">
        <div class="panel-body">理論上，持繳費收據至電影院櫃台，就可以拿到網路上已付費的購票。<br></div>
      </div>
    </div>

 <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse4" style="text-decoration:none;">⊙ 購票後，可以更換場次嗎?</a>
        </h4>
      </div>
      <div id="collapse4" class="panel-collapse collapse">
        <div class="panel-body">當然不行，如果你想要換票，請自行找路人或黃牛換票，如果找不到，請再買一張新的票。</div>
      </div>
    </div>


     <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse5" style="text-decoration:none;">⊙ 是否有學生優惠票?</a>
        </h4>
      </div>
      <div id="collapse5" class="panel-collapse collapse">
        <div class="panel-body">當然沒有，我們可以體諒學生沒有錢，但我們不接受學生可以用折扣優惠的價格取得電影票，<br>因為我們不是慈善事業，你是學生是你家的事，我們也是要混一口飯吃，<br>
        要我們體諒你，先體諒我們吧!?辦不到，就互相傷害吧!</div>
      </div>
    </div>

 <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse6" style="text-decoration:none;">⊙ 購票時，可以刷卡嗎?</a>
        </h4>
      </div>
      <div id="collapse6" class="panel-collapse collapse">
        <div class="panel-body">我們有與許多銀行都有合作優惠，<br><br><br>
        ★ 使用花七信用卡，可得到免費可樂半杯。<br><br>
        ★ 使用台銀信用卡，可得到免費爆米花十顆。<br><br>
        ★ 使用渣搭信用卡，可得到免費熱狗半條。<br><br>
        ★ 使用彰銀信用卡，可得到免費陽春麵二十條。<br><br>
        ★ 使用台科信用卡，可得到免費果籃零個。<br><br>
        ★ 使用北科信用卡，可得到免費垃圾一包。<br><br>
        <p style="color: red;">但我們不可以刷卡。<br><br> </p></div>
      </div>
    </div>


 <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse7" style="text-decoration:none;">⊙ 可以攜帶外食嗎?</a>
        </h4>
      </div>
      <div id="collapse7" class="panel-collapse collapse">
        <div class="panel-body">當然不行，這是國際第一條定律吧，你買外食我們就沒錢賺，一旦發現攜帶外食入場，一律斬首。</div>
      </div>
    </div>


 <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse8" style="text-decoration:none;">⊙ 電影院有停車場嗎?</a>
        </h4>
      </div>
      <div id="collapse8" class="panel-collapse collapse">
        <div class="panel-body">當然有，方圓百里都是我們的停車場，想停哪就停哪。</div>
      </div>
    </div>


 <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse9" style="text-decoration:none;">⊙ 電影票不見了怎麼辦?</a>
        </h4>
      </div>
      <div id="collapse9" class="panel-collapse collapse">
        <div class="panel-body">這個問題有點困難，連我們也不知道，但我們建議你再花錢買一張會比較快。</div>
      </div>
    </div>

     </div>    
    </div>
  </div>
</div>
 
 
    <!-- /.container -->

    <footer style="background-color:rgba(100,100, 120, 0.3);margin-top: 4%;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center" >
  
                    
                    <p>Copyright &copy; Motto Website 2017</p>


                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="{% static 'js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    
    
    <!-- EDAEDAEDAEDAEDAEDAEDAEDAEDAEDAEDAEDAEDAEDAEDAEDAEDA -->
    <script src="{% static 'js/twcaseal_v3.js' %}"></script>
    <script src="{% static 'js/helper.js' %}"></script>
    <script src="{% static 'js/inside.js' %}"></script>
    <script src="{% static 'js/jquery.validationEngine.js' %}"></script>
    <script src="{% static 'js/jquery.validationEngine-zh_TW.js' %}"></script>
    <script src="{% static 'js/jquery-migrate-1.1.0.js' %}"></script>
    <script src="{% static 'js/photoswipe.min.js' %}"></script>
    <script src="{% static 'js/photoswipe-ui-default.min.js' %}"></script>
    <script src="{% static 'js/scrolltopcontrol.js' %}"></script>
    <script src="{% static 'js/share.js' %}"></script>
    <script src="{% static 'js/jquery-2.1.0.min.js' %}"></script>
    <!-- EDAEDAEDAEDAEDAEDAEDAEDAEDAEDAEDAEDAEDAEDAEDAEDAEDA -->
    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>

</body>

</html>
